image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so

exp/tgnet/*
!exp/tgnet/semseg-pt-v3m1-0-tgnet-fps-good
exp/tgnet/semseg-pt-v3m1-0-tgnet-fps-good/model
exp/tgnet/semseg-pt-v3m1-0-tgnet-fps-good/result
exp/tgnet/semseg-pt-v3m1-0-tgnet-fps-good/events*


weights
data
log

outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile


